.ticker_container {
    display: inline-block;
    text-align: right;
}

.ticker_item {
    display: inline-block;
    text-align: right;
    padding: 2px;
}

.ticker_icon {
    width: 1em;
    vertical-align: middle;
    margin: 0 5px;
}