.popup_window_table {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup_window_tr {
    display: table-row;
}

.popup_window_td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.popup_window_item {
    position: relative;
    margin: 0.5em auto;
    width: 100%;
    max-width: 10em;
    padding: 1em 2em;
    text-align: center;
}

.popup_window_item_close {
    display: inline-block;
    position: absolute;
    top: 0em;
    right: 0.5em;
    cursor: pointer;
    padding: 0.5em;
}

.popup_window_table__hidden,
.popup_window_item__hidden {
    display: none;
}