.popup_window_table {
    background: rgba(0, 0, 0, 0.5);
}

.popup_window_item {
    color: black;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 5px #666;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

