.menu_pull_down_text,
.menu_pull_down_list_item:hover  {
    color: white;
}
.menu_pull_down_text:hover,
.menu_pull_down_list_item  {
    color: black;
}

.menu_pull_down_item ,
.menu_pull_down_list_item:hover {
    background: #000;
}

.menu_pull_down_list ,
.menu_pull_down_item:hover {
    background: yellow;
}

.menu_pull_down_list_item {
    border-top: 1px solid black;
}